<%= render "shared/cohort_header" %>
<%= render "shared/navbar" %>
<div class="list_container" id="cohort_list">
  <% @cohorts.each do |c| %>
    <div class="list_item">
      <h2><%= link_to c.name, admin_cohort_path(id: c.id)%><h2>
      <%# <!-- <h4><%= link_to "Add student", cohort_path(c), method: :get %></h4>
      <!-- <h4><%= link_to "Delete cohort", admin_cohort_path(id: c.id), remote: true, method: :delete, data: { confirm: 'You sure?'} %></h4> -->
    </div>
  <% end %>
  <br>
  <div class="new">
    <%= link_to 'New', new_admin_cohort_path %>
  </div>
</div>
