<%= render "shared/navbar" %>
<div class="header animated slideInDown">
  <h1>New Cohort</h1>
</div>
<div class="edit animated zoomIn">
  <%= form_for ([@admin, @cohort]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :start %>
    <%= f.date_field :start %><br>
    <%= f.label :end %>
    <%= f.date_field :end %><br>

    <%= f.label :students %>
    <div id="student_boxes">
      <%= f.collection_check_boxes(:student_ids, Student.all, :id, :name) do |b| %>
        <div> <%= b.check_box %><%= b.label { b.text } %></div>
      <% end %>
    </div>

    <%= f.label :instructor %>
    <%= collection_select(:cohort, :instructor_id, Instructor.all, :id, :name) %><br>

    <%= f.label :course %>
    <%= collection_select(:cohort, :course_id, Course.all, :id, :name) %><br>

    <%= f.submit 'Submit'%>
  <% end %>
</div>
