<%= render "shared/navbar" %>
<div class="subheader"><h2><%= current_user.first_name %></h2></div>
<div class="header" id="cohort_header">
  <h1><%= @cohort.name %></h1>
</div>
<div class="profile">
  <div class="profile_photo">
    <h3>Cohort Start:</h3>
    <%= @cohort.start.strftime("%B%e, %Y") %>
    <h3>Cohort End:</h3>
    <%= @cohort.end.strftime("%B%e, %Y") %>
  </div>
  <div class="profile_info">
    <h3>Course</h3>
    <ul>
    <% if @cohort.course %>
        <li><%= @cohort.course.name %></li>
    <% else %>
      <h4>No course to show</h4>
    <% end %>
    </ul>
    <h3>Instructor</h3>
    <ul>
    <% if !@cohort.instructors.empty? %>
      <% @cohort.instructors.each do |i| %>
        <li><%= i.name %></li>
      <% end %>
    <% else %>
      <h4>No instructor assigned</h4>
    <% end %>
    </ul>
  </div>
  <div class="profile_cohorts">
    <h3>Students</h3>
    <ul>
    <% if !@cohort.students.empty? %>
      <% @cohort.students.each do |s| %>
        <li><%= s.name %>
        <%= link_to "delete", admin_cohort_path(student_id: s.id), method: :delete, remote: true, data: { confirm: 'You sure?' } %></li>
      <% end %>
    <% else %>
      <h4>No students to show</h4>
    <% end %>
    </ul>
  </div>
</div>

<%= link_to "Edit", edit_admin_course_path %>
