<%= render "shared/navbar" %>
<div class="header animated slideInDown">
  <h1><%= @cohort.name %></h1>
</div>
<div class="profile animated zoomIn">
  <div id="edit_button">
    <%= link_to edit_admin_cohort_path do %>
      <i class="fas fa-pen"></i>
    <% end %>
  </div>
  <div class="profile_photo" id="cohort_info">
    <h2>Cohort Start:</h2>
    <%= @cohort.start.strftime("%B%e, %Y") %>
    <h2>Cohort End:</h2>
    <%= @cohort.end.strftime("%B%e, %Y") %>
  </div>
  <div class="profile_info">
    <h2>Course</h2>
    <ul>
    <% if @cohort.course %>
      <li><%= link_to @cohort.course.name, admin_course_path(id: @cohort.course.id) %></li>
    <% else %>
      <h4>No course to show</h4>
    <% end %>
    </ul>
    <h2>Instructor</h2>
    <ul>
    <% if @cohort.instructor %>
      <li><%= link_to @cohort.instructor.name, admin_instructor_path(id: @cohort.instructor_id) %></li>
    <% else %>
      <h4>No instructor assigned</h4>
    <% end %>
    </ul>
  </div>
  <div class="profile_cohorts">
    <h2>Students</h2>
    <ul>
    <% if !@cohort.students.empty? %>
      <% @cohort.students.each do |s| %>
        <li><%= link_to s.name, admin_student_path(id: s.id) %>
        <%= link_to remove_student_path(cohort_id: @cohort.id, id: s), remote: true, method: :delete, data: { confirm: 'You sure?' } do %>
          <span><i class="fas fa-times fa-xs"></i></span>
        <%end%>
      </li>
      <% end %>
    <% else %>
      <h4>No students to show</h4>
    <% end %>
    </ul>
  </div>
</div>
