<%= render "shared/navbar" %>
<div class="header animated slideInDown">
  <h1><%= @admin.name %></h1>
</div>
<div class="edit" id="edit_admin">
  <div id="back_button">
    <%= link_to admin_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <%= form_for (@admin) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.label :avatar %>
    <%= f.file_field :avatar, direct_upload: true %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label 'Re-enter' %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit 'Submit'%>
  <% end %>

</div>
