<%= render "shared/student_header" %>
<%= render "shared/navbar" %>
<div class="container animated zoomIn">
  <div class="row" id="student_headers">
    <div class="col-sm-2 column_header">
      First
    </div>
    <div class="col-sm-3 column_header">
      Last
    </div>
    <div class="col-sm-1 column_header">
      Age
    </div>
    <div class="col-sm column_header">
      Education
    </div>
  </div>
  <% @students.each do |s| %>
  <div class="row" id="student-<%= s.id %>">
    <div class="col-sm">
      <%= link_to s.first_name, admin_student_path(id: s.id) %>
    </div>
    <div class="col-sm">
      <%= link_to s.last_name, admin_student_path(id: s.id) %>
    </div>
    <div class="col-sm">
      <%= s.age %>
    </div>
    <div class="col-sm">
      <%= s.education %>
    </div>
    <div class="col-sm">
      <span class="edit_link"><%= link_to "Edit", edit_admin_student_path(id: s.id) %></span>
      <span class="delete_link"><%= link_to "Delete", admin_student_path(id: s.id), remote: true, method: :delete, data: { confirm: 'Are you sure? This action is permanent.'} %></span>
    </div>
  </div>
  <% end %>
</div>

<div class="new animated zoomIn">
  <%= link_to 'New', new_admin_student_path %>
</div>
