<h1>Students</h1>
<% @students.each do |s| %>
  <h2><%= s.first_name%> <%= s.last_name%></h2>
  <h3><%= s.age%></h3>
  <h3><%= s.education %></h3>
<% end %>

<%= link_to 'New Student', new_student_path %>
