<h1>Students</h1>
<% @students.each do |s| %>
  <h2><%= link_to s.name, admin_student_path(id: s.id) %></h2>
  <h3><%= s.age%></h3>
  <h3><%= s.education %></h3>
  <h4><%= link_to "Delete student", admin_student_path(id: s.id), remote: true, method: :delete, data: { confirm: 'You sure?'} %></h4>
  <!-- Now I just need to figure out how to get the information off the page without reloading -->

<% end %>

<%= link_to 'New Student', new_admin_student_path %>
