<%= render "shared/navbar" %>
<div class="header animated slideInDown">
  <h1><%= @instructor.name %></h1>
</div>
<div class="edit animated zoomIn">
  <div id="back_button">
    <%= link_to admin_instructor_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <%= form_for ([@admin, @instructor]) do |f| %>
    <%= f.file_field :avatar, direct_upload: true %><br>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>
    <%= f.label :age %>
    <%= f.number_field :age %><br>
    <%= f.label :education %>
    <%= f.select :education, ["", "High School", "Bachelor's Degree", "Master's Degree", "Ph.D"] %>
    <%= f.label :salary %>
    <%= f.number_field :salary %><br>

    <%= f.submit 'Submit'%>
  <% end %>
</div>
