<h1>Instructors</h1>
<% @instructors.each do |i| %>
  <h2><%= i.first_name%> <%= i.last_name%></h2>
  <h3><%= i.age%></h3>
  <h3><%= i.education %></h3>
  <h3><%= i.salary %></h3>
<% end %>

<%= link_to 'New Instructor', new_instructor_path %>
