<%= render "shared/instructor_header" %>
<%= render "shared/navbar" %>
<div class="list_container" id="instructor_list">
  <% @instructors.each do |i| %>
    <div class="list_item">
      <%= link_to i.name, admin_instructor_path(id: i.id) %>
    </div>
    <!-- <h4><%= link_to "Delete instructor", admin_instructor_path(id: i.id), remote: true, method: :delete, data: { confirm: 'You sure?'} %></h4> -->
  <% end %>
  <br>
  <div class="new">
    <%= link_to 'New', new_admin_instructor_path %>
  </div>
</div>
