<%= render "shared/instructor_header" %>
<%= render "shared/navbar" %>
<div class="container" id="instructor_list">
  <% @instructors.each do |i| %>
  <div class="row" id="instructor-<%=i.id%>">
      <div class="col-sm">
      <%= link_to i.first_name, admin_instructor_path(id: i.id) %>
      </div>
      <div class="col-sm">
        <%= link_to i.last_name, admin_instructor_path(id: i.id) %>
      </div>
      <div class="col-sm-1">
        <%= i.age %>
      </div>
      <div class="col-sm-1">
        <%= i.salary %>
      </div>
      <div class="col-sm">
        <%= i.education %>
      </div>
      <div class="col-sm">
        <%= link_to "Edit", edit_admin_instructor_path(id: i.id) %>
        <%= link_to "Delete", admin_instructor_path(id: i.id), remote: true, method: :delete, data: { confirm: 'Are you sure? This action is permanent.'} %>
      </div>
    </div>
    <% end %>
</div>

<div class="new">
  <%= link_to 'New', new_admin_instructor_path %>
</div>
