<%= render "shared/instructor_header" %>
<h1>New Instructor</h1>
<%= form_for ([@admin, @instructor]) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :education %>
  <%= f.select :education, Instructor.educations.keys.to_a %>
  <%= f.label :salary %>
  <%= f.number_field :salary %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar, direct_upload: true %>

  <%= f.submit 'Submit'%>
<% end %>
