<h1>Home</h1>

<%= link_to 'Log Out', logout_path %>
<br><br>
<%= link_to 'Students', admin_students_path(session[:user_id]) %>
<%= link_to 'Instructors', admin_instructors_path(session[:user_id]) %>
<%= link_to 'Courses', admin_courses_path(session[:user_id]) %>
<%= link_to 'Cohorts', admin_cohorts_path(session[:user_id]) %>
