<h1>Ron Swanson's School of Manliness</h1>
<br><br>
<h2>Log In</h2>
<%= form_tag login_path do |form| %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log In" %>
<% end %>
<br><br>
<%= link_to 'New Admin', new_admin_path %>
