<%= render "shared/navbar" %>
<div class="subheader"><h2><%= current_user.first_name %></h2></div>
<div class="header" id="course_header">
  <h1><%= @course.name %></h1>
</div>
<div class="edit">
  <%= form_for ([@admin, @course]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :hours %>
    <%= f.number_field :hours %><br>

    <%= f.submit 'Submit'%>
  <% end %>
</div>
