<%= render "shared/course_header" %>
<%= render "shared/navbar" %>
<div class="container animated zoomIn" id="course_list">
  <div class="row" id="course_headers">
    <div class="col-sm-5 column_header">
      Course
    </div>
    <div class="col-sm-4 column_header">
      Hours
    </div>
    <div class="col-sm column_header">
      Options
    </div>
  </div>
  <% @courses.each do |c| %>
  <div class="row" id="course-<%= c.id %>">
    <div class="col-sm-5">
      <%= link_to c.name, admin_course_path(id: c.id) %>
    </div>
    <div class="col-sm">
      <%= c.hours %>
    </div>
    <div class="col-sm">
      <span class="edit_link"><%= link_to "Edit", edit_admin_course_path(id: c.id) %></span>
      <span class="delete_link"><%= link_to "Delete", admin_course_path(id: c.id), remote: true, method: :delete, data: { confirm: 'Are you sure? This action is permanent.'} %></span>
    </div>
  </div>
  <% end %>
</div>

<div class="new animated zoomIn">
  <%= link_to 'New', new_admin_course_path %>
</div>
