<%= render "shared/course_header" %>
<%= render "shared/navbar" %>
<div class="container" id="course_list">
  <% @courses.each do |c| %>
  <div class="row" id="course-<%= c.id %>">
    <div class="col-sm-5">
      <%= link_to c.name, admin_course_path(id: c.id) %>
    </div>
    <div class="col-sm">
      <%= c.hours %>
    </div>
    <div class="col-sm">
      <%= link_to "Edit", edit_admin_course_path(id: c.id) %>
      <%= link_to "Delete", admin_course_path(id: c.id), remote: true, method: :delete, data: { confirm: 'Are you sure? This action is permanent.'} %>
    </div>
  </div>
  <% end %>
</div>

<div class="new">
  <%= link_to 'New', new_admin_course_path %>
</div>
